@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&family=Roboto&display=swap");
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  margin-top: 40px;
  font-family: "DM sans";
}
.header .title {
  color: #d04f4f;
  margin-top: 0;
}

.search {
  width: 1240px;
  margin: auto;
}
.search .search-bar {
  position: relative;
  background-color: #e7e7e7;
  height: 69px;
  border-radius: 5px;
  margin: auto;
}
.search .search-bar-input {
  font-family: "Lato", sans-serif;
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
  background-color: inherit;
  width: 90%;
  border: none;
  height: 100%;
  font-size: 18px;
}
.search .search-bar i {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 32px;
}
.search .tags-section {
  margin-top: 20px;
  display: flex;
}
.search .selected-tag {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-around;
  padding: 10px;
  margin-right: 20px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #3282f7;
}
.search .cross {
  margin-left: 15px;
}
.search .search-advanced {
  margin-top: 20px;
  display: flex;
}
.search .search-advanced-button {
  align-items: center;
  padding: 0px 15px 0px 15px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  width: 170px;
  min-height: 69px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-right: 20px;
}
.search .search-advanced-button::-moz-placeholder {
  color: white;
}
.search .search-advanced-button:-ms-input-placeholder {
  color: white;
}
.search .search-advanced-button::placeholder {
  color: white;
}
.search .search-advanced-button:nth-of-type(1) {
  background-color: #3282f7;
}
.search .search-advanced-button:nth-of-type(2) {
  background-color: #68d9a4;
}
.search .search-advanced-button:nth-of-type(3) {
  background-color: #ed6454;
}
.search .search-advanced-input {
  width: 90%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  border: none;
}
.search .search-advanced-input::-moz-placeholder {
  color: white;
  opacity: 1;
}
.search .search-advanced-input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
.search .search-advanced-input::placeholder {
  color: white;
  opacity: 1;
}
.search .search-advanced i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.search .appliances-results,
.search .ustensils-results,
.search .ingredients-results {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.results {
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.card {
  width: 380px;
  height: 364px;
  margin-bottom: 60px;
}
.card-img {
  background-color: #c7bebe;
  height: 178px;
  border-radius: 5px 5px 0 0;
}
.card-content {
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  padding: 18px;
  height: 180px;
}
.card-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-content-header .recipe-title {
  margin: 0;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  max-width: 245px;
}
.card-content-header .recipe-duration {
  display: flex;
}
.card-content-header .recipe-time {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  margin-left: 8px;
}
.card-content-text {
  display: flex;
  font-size: 12px;
  padding: 20px 0;
}
.card-content-text .recipe-ingredients {
  width: 171px;
  font-family: "Lato";
}
.card-content-text .recipe-text {
  max-height: 122px;
  width: 171px;
  font-family: "Roboto";
  font-weight: 400;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */