@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&family=Roboto&display=swap");
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  margin: auto;
}

.header {
  text-align: center;
  margin-top: 40px;
  font-family: "DM sans";
}
.header .title {
  color: #d04f4f;
  margin-top: 0;
}

.search {
  margin: auto;
}
.search .search-bar {
  position: relative;
  background-color: #e7e7e7;
  height: 69px;
  border-radius: 5px;
  margin: auto;
}
.search .search-bar-input {
  font-family: "Lato", sans-serif;
  padding: 0px 15px 0px 15px;
  border-radius: 5px;
  background-color: inherit;
  width: 90%;
  border: none;
  height: 100%;
  font-size: 18px;
}
.search .search-bar i {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 32px;
}
.search .tags-section {
  margin-top: 20px;
  display: flex;
}
.search .selected-tag {
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-around;
  padding: 10px;
  margin-right: 20px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #3282f7;
}
.search .cross {
  margin-left: 15px;
}
.search .search-advanced {
  margin-top: 20px;
  display: flex;
}
.search .search-advanced-button {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  min-height: 69px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #3282f7;
}
.search .search-advanced-button::-moz-placeholder {
  color: white;
}
.search .search-advanced-button:-ms-input-placeholder {
  color: white;
}
.search .search-advanced-button::placeholder {
  color: white;
}
.search .search-advanced-input {
  width: 90%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: none;
}
.search .search-advanced-input:focus {
  outline: none;
}
.search .search-advanced-input-container {
  display: flex;
  padding-top: 20px;
}
.search .search-advanced-input::-moz-placeholder {
  color: white;
  opacity: 1;
}
.search .search-advanced-input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
.search .search-advanced-input::placeholder {
  color: white;
  opacity: 1;
}
.search .search-advanced i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.search .search-advanced .appliances-color {
  background-color: #68d9a4;
}
.search .search-advanced .ustensils-color {
  background-color: #ed6454;
}
.search .appliances-tags-container,
.search .ustensils-tags-container,
.search .ingredients-tags-container {
  cursor: pointer;
  color: white;
  display: none;
  margin-top: -5px;
  padding-top: 10px;
  border-radius: 0 0 5px 5px;
}
.search .appliances-tags-container ul,
.search .ustensils-tags-container ul,
.search .ingredients-tags-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  max-height: 500px;
  overflow: scroll;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.search .appliances-tags-container li,
.search .ustensils-tags-container li,
.search .ingredients-tags-container li {
  margin-top: 10px;
}
.search .ingredients-tags-container {
  background-color: #3282f7;
}
.search .appliances-tags-container {
  background-color: #68d9a4;
}
.search .ustensils-tags-container {
  background-color: #ed6454;
}
.search .rotate {
  transform: rotate(180deg);
}
.search .ingredients-active {
  width: 700px;
}
.search .ustensils-active {
  width: 500px;
}
.search .appliances-active {
  width: 400px;
}
.search .ingredients-field,
.search .appliances-field,
.search .ustensils-field {
  margin-right: 10px;
}

.results {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.error-message {
  grid-column: span 2;
  font-size: 20px;
  text-align: center;
}

.card {
  width: 380px;
  height: 364px;
  margin-bottom: 60px;
}
.card-img {
  background-color: #c7bebe;
  height: 178px;
  border-radius: 5px 5px 0 0;
}
.card-content {
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  padding: 18px;
  height: 180px;
}
.card-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-content-header .recipe-title {
  margin: 0;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  max-width: 245px;
}
.card-content-header .recipe-duration {
  display: flex;
}
.card-content-header .recipe-time {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  margin-left: 8px;
}
.card-content-text {
  display: flex;
  font-size: 12px;
  padding: 20px 0;
}
.card-content-text .recipe-ingredients {
  width: 171px;
  font-family: "Lato";
}
.card-content-text .recipe-text {
  max-height: 122px;
  width: 171px;
  font-family: "Roboto";
  font-weight: 400;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */