.results {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}

.error-message {
  grid-column: span 2;
  font-size: 20px;
  text-align: center;
}

.appliances-tags-container,
.ustensils-tags-container,
.ingredients-tags-container {
  cursor: pointer;
  margin-top: 60px;
}
