.logo-section {
  text-align: center;
  margin-top: 40px;

  .title {
    color: #d04f4f;
    margin-top: 0;
  }
}

.search-bar {
  position: relative;
  background-color: #e7e7e7;
  width: 1240px;
  height: 69px;
  border-radius: 5px;
  margin: auto;

  &-input {
    padding: 0px 15px 0px 15px;
    border-radius: 5px;
    background-color: inherit;
    width: 100%;
    border: none;
    height: 100%;
    font-size: 18px;
  }

  i {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 32px;
  }
}
